header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1.5rem;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
