main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}

main .card {
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card p {
  font-size: 1.5rem;
  font-weight: 700;
}
