.selection-modal p {
  font-size: 2rem;
}

.selection-modal button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

.selection-modal .difficulty-btn-container {
  display: flex;
  gap: 1rem;
}

.selection-modal .selected {
  background-color: blue;
}
