.selection-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0;
  width: clamp(400px, 40%, 500px);
}

.selection-modal .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.welcome-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.welcome-text h1::before {
  content: url("../assets/pokeball-png.png");
  display: inline-block;
}

.selection-modal p {
  font-size: 1rem;
}

.selection-modal button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: inherit;
}

.difficulty-selection-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.difficulty-selection-container .difficulty-btn-container {
  display: flex;
  gap: 1rem;
}

.selection-modal .selected {
  color: white;
  background-color: blue;
}
