@font-face {
  font-family: "PokeFont";
  src: url("./assets/poke-font.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PokeFont";
}

html {
  cursor: url("./assets/cursor.png"), auto;
}

@media (max-width: 800px) {
  .score-container {
    flex-direction: column;
    gap: 2rem;
  }
}
